<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Pokemon</title>
  </head>
  <body>
    <h1>Add a Pokemon Below</h1>
    <form class="" action="/add/pokemon" method="post">
<input type="text" name="name" placeholder="name">
<input type="text" name="cp" placeholder="cp">
<input type="text" name="in_gym" placeholder="in gym?">
<input type="text" name="trainer_id" placeholder="trainer id">
<input type="submit" value="Create">
    </form>
  </body>
</html>
