<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gym</title>
  </head>
  <body>
    <h1>Gym</h1>
    <h2>Select Pokemon</h2>
    <select class="" name="">

    </select>
    <select class="" name="">

    </select>
  </body>
</html>
