<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Trainer</title>
  </head>
  <body>
    <% if(trainers){ %>
    <h1>Trainer Selected: <%= trainers.name %></h1>
    <h2>Name: </h2>
    <p><%= trainers.name %></p>
    <h2>Trainer ID: </h2>
    <p><%= trainers.id %></p>
    <h2>Pokemon Training: </h2>
    <p>Placeholder here</p>
    <% } %>
  </body>
</html>
