<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Trainer</title>
    <style>
    body{
      background-image: url("https://theenterprisedaily.com/wp-content/uploads/2017/07/Pokemon-go-raid-q234.jpg");
      background-size: cover;
        background-repeat: no-repeat;
    }
     .box{
       background-color: white;
       border: 1px solid black;
       width: 40%;
       margin-top: 20%;
     }
     h1, h2, p {
       padding-left: 3%;
     }
     .foot{
       background-color: cyan;
       width: 100%;
       margin-top: 5%;
       height: 1%;
     }
    </style>
  </head>
  <body>
    <div class="box">
    <h1>Trainer Selected: <%= trainers.name %></h1>
    <h2>Name: </h2>
    <p><%= trainers.name %></p>
    <h2>Trainer ID: </h2>
    <p><%= trainers.id %></p>
    <h2>Pokemon Training: </h2>
    <% for(i=0;i<pokemon.length;i++){ %>
    <p><%= pokemon[i].name %></p>
<% } %>
  </div>
<div class="foot">
  <p>Copyright Pokemon Inc.</p>
</div>
  </body>
</html>
